<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple form</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h3>Send some data via form using Sinatra</h3>

  <form action="/" method="POST">
    <p>Name:</p>
    <input type="text" name="username" placeholder="Max"><br>

    <p>Phone:</p>
    <input type="text" name="phone" placeholder="+123456789"><br>

    <p>Email:</p>
    <input type="text" name="email" placeholder="test@test.com"><br>

    <p>Select a topic:</p>
    <select name="topic">
      <option val="1">Some test option #1</option>
      <option val="2">Some test option #2</option>
      <option val="3">Some test option #3</option>
    </select>
    <br>

    <p>Date:</p>
    <input type="text" name="date" placeholder="12.03"><br>

    <p>Time:</p>
    <input type="text" name="time" placeholder="14:30"><br><br>
    
    <p>Your message:</p>
    <textarea name="message"></textarea><br><br>

    <button type="submit">Send data</button>
  </form>
</body>
</html>