<%= @message %>
<form action="/admin" method="POST">
  <p><span>Username:</span> <input type="text" name="user"></p>
  <p><span>Password:</span> <input type="password" name="password"></p>
  <p><button type="submit">Войти</button></p>
</form>